<div style="text-align:center">
  <h1>Bienvenido al Sistema de Gestión de Empleados</h1>

  <div>
    <button mat-raised-button color="primary" (click)="showForm()">Crear Empleado</button>
  </div>

  <div *ngIf="showEmployeeForm">
    <app-employee-form></app-employee-form>
  </div>

  <div>
    <button mat-raised-button color="accent" (click)="showOptions()">Ver Opciones de Funcionalidad</button>
  </div>
  <div *ngIf="showEmployeeOptions">
    <app-employee-options></app-employee-options>
  </div>

<!-- <router-outlet></router-outlet> -->
 
</div>
