<div class="funcionalidad-container">
  <h2 class="title">Opciones de Funcionalidad</h2>

  <div class="actions">
    <mat-card class="action-card">
      <button mat-raised-button color="primary" (click)="getHighestSalary()">Salario Más Alto</button>

      <div *ngIf="highestSalaryEmployee" class="result">
        <h3>Empleado con Salario Más Alto</h3>
        <p><strong>Nombre:</strong> {{ highestSalaryEmployee.name }} {{ highestSalaryEmployee.lastName }}</p>
        <p><strong>Salario:</strong> {{ highestSalaryEmployee.salary | currency:'USD' }}</p>
        <p><strong>Edad:</strong> {{ highestSalaryEmployee.age }}</p>
      </div>
    </mat-card>

    <mat-card class="action-card">
      <button mat-raised-button color="accent" (click)="getYoungestEmployee()">Edad Más Baja</button>

      <div *ngIf="youngestEmployee" class="result">
        <h3>Empleado Más Joven</h3>
        <p><strong>Nombre:</strong> {{ youngestEmployee.name }} {{ youngestEmployee.lastName }}</p>
        <p><strong>Edad:</strong> {{ youngestEmployee.age }}</p>
      </div>
    </mat-card>

    <mat-card class="action-card">
      <button mat-raised-button color="warn" (click)="countEmployeesLastMonth()">Empleados del Último Mes</button>

      <div *ngIf="employeeCountLastMonth !== undefined && employeeCountLastMonth !== -1" class="result">
        <h3>Número de Empleados del Último Mes:</h3>
        <p><strong>{{ employeeCountLastMonth }}</strong></p>
      </div>
    </mat-card>
  </div>
</div>
