<div>
  <h2>Opciones de Funcionalidad</h2>

  <div>
    <button mat-raised-button color="primary" (click)="getHighestSalary()">Salario Más Alto</button>

    <div *ngIf="highestSalaryEmployee">
      <h3>* Empleado con Salario Más Alto *</h3>
      <p>Nombre: {{ highestSalaryEmployee.name }} {{ highestSalaryEmployee.lastName }}</p>
      <p>Salario: {{ highestSalaryEmployee.salary | currency:'USD' }}</p>
      <p>Edad: {{ highestSalaryEmployee.age }}</p>
      <!-- Puedes mostrar más campos si quieres -->
    </div>
  </div>


  <div>
    <button mat-raised-button color="accent" (click)="getYoungestEmployee()">Edad Más Baja</button>
    <div *ngIf="youngestEmployee">
      <h3>* Empleado Más Joven *</h3>
      <p>Nombre: {{ youngestEmployee.name }} {{ youngestEmployee.lastName }}</p>
      <p>Edad: {{ youngestEmployee.age }}</p>
    </div>
  </div>

  <div>
    <button mat-raised-button color="warn" (click)="countEmployeesLastMonth()">Empleados del Último Mes</button>
    <div *ngIf="employeeCountLastMonth !== undefined && employeeCountLastMonth !== -1">
      <h3>Número de Empleados del Último Mes: {{ employeeCountLastMonth }}</h3>
    </div>
  </div>

</div>
